<footer>
  <section class="container">
    <div class="sixteen columns">
      <div class="row">
	<div class="five columns alpha">
	  <i class="fa fa-envelope-o"></i>
	  <h5>Contact Us</h5>
	  <p><a href="https://groups.google.com/forum/#!forum/zerovm">zerovm on Google Groups</a></p>
	</div>
	<div class="five columns">
	  <i class="fa fa-link"></i>
	  <h5>Cool Links</h5>
	  <ul>
	    <li><a href="http://code.google.com/p/nativeclient/">GoogleNaCL</a></li>
	    <li><a href="https://github.com/zerovm/zerovm">Github</a></li>
	  </ul>
	</div>
	<div class="five columns omega">
	  <i class="fa fa-cloud"></i>
	  <h5>ZeroVM is</h5>
	  <p>sponsored by <a href="http://www.rackspace.com">Rackspace</a></p>
	</div>
      </div>
    </div>
  </section>
</footer>
