<meta charset="utf-8" />
<!-- Mobile Specific Metas
     ================================================== -->
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<title>ZeroVM sponsored by Rackspace</title>
<link rel="stylesheet" href="/includes/css/main.css">
<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
<script src="/includes/js/jquery-1.10.2.min.js"></script>
<script src="/includes/js/plugins/waypoints.min.js"></script>
<script src="/includes/js/plugins/waypoints-sticky.min.js"></script>
<script src="/includes/js/main.js"></script>
<!-- IE Fix for HTML5 Tags -->
<!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
